.column1{
    float:left;
    width:70%;
}
.column2{
    float:left;
    width:30%;
}

.productsPanel{
    padding:10px 15px;
}

.subColumn1{
    float:left;
    width:50%;
}
.subColumn2{
    float:left;
    width:35%;
}
.subColumn3{
    float:left;
    width:15%;
}
